<html><head><title>Alignment of two DNA or RNA sequences</title></head>
<body bgcolor=FFFFFF>
<div align=right><a href=index.html><b>New alignment</b></a></div>
<center><H2>Alignment of two DNA sequences</H2>
<table><tr><td><HR><pre>
-------GGAGTGAGGGGAGCAGTTGGCTG--AAGATGGTCCCCGCCGAGGGACCGGTGGGCGACGGCGAGCTGTGGCAGACCTGGCTTCCTAACCACGT  100
       ||||||||||||||||||||  |   ||||||||||||||||||||||||||||||||||| |||||||||||||||||||||||||||||| 
CGCATGCGGAGTGAGGGGAGCAGTTGG--GAACAGATGGTCCCCGCCGAGGGACCGGTGGGCGACGGCCAGCTGTGGCAGACCTGGCTTCCTAACCACGG  100

C-CGTGTTCTTGCGGCTCCGGGAGGGACTG  130
  |||  |||| | ||||||||||      
AACGT--TCTTTCCGCTCCGGGAG------  130

</pre><hr>
</td></tr><tr><td align=center><table><tr><td>Sequence 1<br><input type=text value="-------GGAGTGAGGGGAGCAGTTGGCTG--AAGATGGTCCCCGCCGAGGGACCGGTGGGCGACGGCGAGCTGTGGCAGACCTGGCTTCCTAACCACGTC-CGTGTTCTTGCGGCTCCGGGAGGGACTG" size=100><p>Sequence 2<br><input type=text value="CGCATGCGGAGTGAGGGGAGCAGTTGG--GAACAGATGGTCCCCGCCGAGGGACCGGTGGGCGACGGCCAGCTGTGGCAGACCTGGCTTCCTAACCACGGAACGT--TCTTTCCGCTCCGGGAG------" size=100><p></td></tr></table><hr><font size=1>Computed in 0 seconds</font></td></tr></table></center>
<p>
<center>
<font size=-1><a href=http://insilico.ehu.eus>insilico.ehu.eus</a></font>
</center>
</body></html>