{% extends "scane/r1.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load static %}


 <div class="content-section col-md-11 col-md-offset-2">

  <center>
  <form method="POST" style="border: 1px solid black; margin: 4%; padding:10%; border-radius:1%;">
    {% csrf_token %}
    <fieldset class="form-group">
      {{ form|crispy}}
    </fieldset>
   <center>
    <button  class="btn btn-primary ml-lg-1" type="submit"><span ></span> &nbsp;login</button>
  </center>
  <br/>
  <sub style="text-align: left;"><a href="{% url 'register' %}" style="text-decoration: none; color: blue; padding:2%; cursor:pointer; margin-right:2%;">don't have account,sign up</a></sub>
  </form>
</center>
 </div>
{% endblock start %}
